li {
    margin: auto;
    list-style-type: none;
}

table{
    margin: auto;
}

input {
    margin: 7px;
}

.formulir{
    border-radius: 5px;
    margin: 5px 40% ;
    width: 350px;
    height: 250px;
    padding: 5px;;
}